@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        @if (ViewData["InChat"].Equals(true))
        {
            <div class="col-6">
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
                <br />
                Message : <input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        }
        else
        {
            <div class="col-6">
                <h4>You are not in chat</h4>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>