@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "RemoveFromChat";
}
@model List<IdentityUser>
<h1>RemoveFromChat</h1>
@foreach (var u in Model)
{
    <div>
        <h4>@u.UserName</h4>
        <form method="post" asp-controller="Roles" asp-action="RemoveFromChat">
            <input type="hidden" name="name" value="@u.UserName" />
            <button type="submit">
                Submit
            </button>
        </form>
    </div>
}